<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/theme.css" rel="stylesheet">
    <title>{{ .Site.Title }}</title>
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
<body>
    <div class="container-sm" >
        <header>
        {{/*  导航栏  */}}
        {{ block "nav" . }} 
            {{ partial "partials/sitenav.html" . }}
        {{ end }}
        {{ block "header" . }}
            {{ partial "partials/header.html" . }}
        {{ end }}
        </header>
        
        {{ block "main" . }} {{ end }}

        <footer>
            {{/*  页脚  */}}
            {{ block "footer" . }}
                {{ partial "partials/footer.html" . }}
            {{ end }}
        </footer>
    </div>
</body>
</html>