{{ define "main" }}
  {{ $pages := union .RegularPages .Sections }}

  {{- if .IsHome }}
      {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- end }}

  {{ $paginator := .Paginate $pages }}
      <div class="post-item">
        <ul>
            {{ range $paginator.Pages}}
                <li><a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }} --- {{ .Title }}</a></li>
            {{ end }}
        </ul>
      </div>
  {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}">&lt; Prev</a>
  {{ end }}
  &nbsp;
  {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}">Next &gt; </a>
  {{ end }}
{{ end }}