{{ define "header" }}
    <header style="text-align:center">
    {{ if .Title }}
    <h2>{{ .Title }}</h2>
    {{ end }}
    <!-- 时间 -->
    {{ if .Date }}
        <p>{{ .Date.Format "2006-01-02" }}</p>
    {{ end }}
    {{ if .Params.tags  }}
        <p>
            {{ range .Params.tags}}
                <a href="/tags/{{ . }}">#{{ . }} </a>
            {{ end}}
        </p>
    {{ end }}
</header>
{{ end }}

{{ define "main" }}

    <div>
        {{ .Content }}
    </div>
    <div>
        <div id="prev" style="float: left;">
        {{ if .PrevInSection}}
         <a href="{{ .PrevInSection.Permalink }}"><{{ .PrevInSection.Title }}</a>
        {{ end }}
        </div>
        <div id="next" style="float: right;">
            {{ if .NextInSection}}
             <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}></a>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ define "footer" }}
    {{/*  {{ partial "partials/toc.html" . }}  */}}
{{ end }}

